:root{
    --black: #141318;
    --red: #FF9999;
    --pink: #FEABF7;
    --green: #BDFFCB;
    --blue: #99A1FF;
    --grey: #7C7C7C;
    --white: #FBFBFB;

    --shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

html {
    scroll-behavior: smooth;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    /* border: 1px solid red; */
}

body{
    background-color: var(--black);
    color: var(--white);
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#container{
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3rem;
}

#idcard{
    display: flex;
    flex-grow:1;
    gap: 1rem;
}

#idcard span{
    color:#959B9D;
}

#idcard img{
    height: 64px;
    border-radius: 100%;
}

#navbar{
    list-style-type: none;
    display: flex;
    align-items: start;
}

li{
    background-color: #322F38;
    padding: 4px 16px 4px 16px;
    border-radius: 16px;
    line-height: 130%;
    margin: 0 4px;
}

li:hover{
    background-color: #7a5cff;
}

h1{
    font-size: 1.5rem;
    font-weight: 600;
}
h3{
    font-size: 2rem;
    font-weight: 600;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}

h4{
    font-size: 2rem;
    font-weight: 600;
}

h5{
    font-size: 1.25rem;
    font-weight: 600;
}

section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}

.post{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    margin-bottom: 40px;
    color: var(--white);
}

.flair_e{
    line-height: 1;
    background-color: var(--red);
    color: var(--black);
    border-radius: 1rem;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    padding: 6px 12px 6px;
    font-weight: 600;
}
.flair_c{
    line-height: 1;
    background-color: var(--pink);
    color: var(--black);
    border-radius: 1rem;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    padding: 6px 12px 6px;
    font-weight: 600;
}
#flair_cont{
    display: flex;
    gap: 8px;
}

#status{
    line-height: 1;
    color: #959B9D;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#point{
    color: #9CE557;
}

.postimg{
    width: 100%;
    border-radius: 16px;
    aspect-ratio: 16/9;
    object-fit: cover;
}


#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cta{
    color: var(--white);
    background-color: #322F38;
    padding: 4px 16px 4px 16px;
    border-radius: 16px;
    line-height: 130%;
    margin: 0 4px;
    text-decoration: none;
}

.cta:hover{
    background-color: #7a5cff;
}

footer{
    display: flex;
    justify-content: center;
    color:#959B9D;
}

/* PAGINAS */

.fauxh1{
    font-size: 1.5rem;
    font-weight: 600;
    text-box-trim: none;
}
.fauxh3{
    font-size: 2rem;
    font-weight: 600;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}

@media screen and (max-width: 800px) {
    #container{
        width: 100vw;
        padding: 0px 20px;
    }

    h1{
    font-weight: 400;
    font-size: 1.5rem;
    }
    h3{
    font-weight: 400;
    font-size: 1.5rem;
    }
    h4{
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    }

    .fauxh1{
    font-size: 1.5rem;
    font-weight: 400;
    text-box-trim: none;
    }
    .fauxh3{
    font-size: 1.5rem;
    font-weight: 400;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: red;
    }
    .flair_c, .flair_e{
        font-weight: 500;
    }
    #idcard{
    gap: 1rem;
    justify-content: center;
    }
    #navbar{
        width: 100%;
    justify-content: center;
    }
    header{
        gap: 1rem;
    }

}